#header-div
{
    font-family: "Poppins", sans-serif;
    color : white;
    font-size: 4vh;
    padding : 3vh;
    text-align: left;
}
#header-wrapper
{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.header-button
{
    font-family: Poppins;
    height : 100%;
    width : 15vh;
    border : 1px solid black;
    background-color: grey;
}

.header-create-button
{
    background-color: green;
}

.header-button:hover
{
    opacity: 60%;
}